<br />
    <div class="media">
      <div class="media-body">
        <h2 class="media-heading center">My To-do's</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <p class="lead">What do you need to do?</p>
        <div class='new-item'>
          <%= render :partial => 'items/form', locals: { user: @user, item: @item } %>
        </div>

        <div class='js-items'>
          <table>
            <tr>
              <th>Description</th>
              <th>Days left</th>
              <th>Complete</th>
            </tr>

            <%= render partial: 'items/item', collection: @items %>
          </table>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>


