<br/>
<div class="row">
  <div class="col-md-2"></div>
  <div class="jumbotron col-md-8">
    <h1 class="center">Blocitoff</h1>
    <p class="center">A self-destructing to-do list to keep you focused on the things that really matter.</p>
  </div>
  <div class="col-md-2"></div>
  </div>
</div>
